@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    left: -10%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 50.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 40%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important;


/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #12263F !important
.bg2
  background-color: #38BDF8
  border-radius: 40px
.bg3
  background-image: url('../assets/curso/temas/t1/fondo.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px) 
    background-size: cover 
.bg1
  background-color: #ffff
  border-bottom-left-radius: 40px
  border-bottom-right-radius: 40px
.bg4
  background-color: #132A60
.bg5
  background-color: #EAF8FF
.izq
  text-align: left !important
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
.cajon.color-acento-contenido 
  background-color: #FBFFF5
.cajon.color-primario
  background-color: #EAF8FF
.tarjeta--boton 
  border-radius: 20px
  background-color: #B7BECF
.tarjeta--boton.color-acento-contenido:active, .tarjeta--boton.color-acento-contenido:focus, .tarjeta--boton.color-acento-contenido:hover
  background-color: #EAF8FF !important
.fondo01
  background-image: url('../assets/curso/temas/t1/fondo2.png')
  background-position: bottom !important
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.1rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo02
  background-image: url('../assets/curso/temas/t2/img04.png')
  background-position: bottom !important
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.fondo03
  background-image: url('../assets/curso/temas/t4/fondo1.png')
  background-position: bottom !important
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 

.fondo04
  background-image: url('../assets/curso/temas/t5/fondo1.png')
  background-position: bottom !important
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
    background-size: 100% 100%
  @media screen and (max-width: 767px)
    background-size: cover 
    background-size: 100% 100%
.img20
  width: 80%
/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

 
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

.tabs-c
  border-bottom: 0px
  &__header
    margin-bottom: 0px
  &__tab--active
    font-weight: bold
.tabs-c.color-primario .tabs-c__tab--active 
  border-bottom-color: #132A60 !important
  background-color: #EAF8FF
.tabs-c.color-primario .tabs-c__tab--active:before 
  border-top-color: #132A60 
.tabs-c__tab 
  border-bottom: 4px solid #38BDF8
  background-color: #AFE5FC

.acordion__accion__btn--a 
  background-color: #132A60 !important
.acordion .tarjeta--azul
  background-color: #AFE5FC !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #DDE3EB !important
.fa-add, .fa-plus 
  --fa: "\+"
  color: #ffff
.fa-minus, .fa-subtract 
  --fa: "\f068"
  color: #ffff
.titulo-segundo:after 
  border-left-color: #D9F99D
  background-color: #F0FDD8

.fa-angle-right2
  content: url('../assets/curso/temas/t3/aguja.svg')
  align-self: flex-start !important

//  Codigo de las tarjetas que se deslizan hacia arriba 

.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  border-radius: 0px

.crd_hover_txt .crd_hover_txt--body
  position: absolute
  width: 100%
  bottom: 0
  padding: 1rem 1.2rem
  transition: all .5s ease-in-out
  transform: translateY(calc(100% - 5.2rem))
  font-weight: 400 !important
  background: transparent

/* SOLO FILA TITULO */
.crd_hover_txt .crd_hover_txt--body > div:first-child
  display: flex !important
  align-items: center !important
  flex-wrap: nowrap !important
  gap: 12px
  width: 100%

.crd_hover_txt:hover .crd_hover_txt--body
  transform: translateY(0)
  background-color: #B7BECF !important

  .rot
    transform: rotate(180deg)

.crd_hover_txt:hover .crd_hover_txt--body *
  color: black !important

/* OCULTAR PÁRRAFO CUANDO ESTÁ CERRADO */
.icono-circulo
  width: 32px
  height: 32px
  border-radius: 50%
  background-color: #132A60
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0

.flecha
  width: 13px
  height: 13px
  border-left: 4px solid #ffff
  border-top: 4px solid #ffff
  transform: rotate(45deg)
  transition: transform 0.4s ease

.cursor-pointer.crd_hover_txt
  cursor: pointer

.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important

  &:hover
    .crd_hover_txt--body
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
      transform: translateY(0)

    .flecha
      transform: rotate(225deg)

  .crd_hover_txt--body
    position: absolute
    padding: 1rem
    bottom: 0
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc(100% - 3.45rem))
    background-color: #B7BECF
    border-radius: 0px

  @media (min-width:1200px) and (max-width:1400px)
    .crd_hover_txt--body
      p
        font-size: 0.85em
  @media (max-width: $bp-max-md)
    .crd_hover_txt--body
      p
        font-size: 0.78em
  @media (min-width: 768px) and (max-width: 1024px)
    .crd_hover_txt--body
      p
        font-size: 1em

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 50px
  height: 50px
  background-color: #132A60
  border-radius: 50%
  background-image: url('../assets/curso/temas/t5/flechaa.svg')
  
.slyder-a__bullets__item--active 
  background-color: #132A60 !important
  border-color: #132A60 !important
  opacity: 1
.slyder-a__bullets__item 
  width: 12px
  height: 12px
  margin: 0 8px
  background-color: #B7BECF